#modal,#sort-page,#selection-page,#playlist-page {
/* 
eventually we'll want these hidden when the page first loads
display:none 
*/
}

.event-wrapper{
  display:inline-block;
  background-color:rosybrown;
  padding:20px;
  margin:10px;
}