.jumbotron{
    text-align: center;

}
h1{
    font-size: 600%;
}

.container{
    background-color: #E9ECEF;
    color:black;
    width: 150%;
    height: 150%;
    border-radius: 1%;
}
#landing-page{
    display: block;
}
#sort-page{
    display: none;
}
#selection-page{
    display: none;
}
#playlist-page{
    display: none;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}