.width-mod{
    width: 91%;
}

#landingPage {
    margin-top:5vh;
}

.formHeader {
    text-align:center !important;
}

.row .tile{
    margin: 5px auto;
}

body{
    font-family: 'Lato', sans-serif;
    text-align:center;
    width:100vw;
    min-height:100vh;
    max-height:100%;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.appTitle {
    font-family: 'Carter One', cursive;
    text-shadow: 1px 1px 4px darkslategray;
    font-weight:700;
    font-size:5em;
}

.event-wrapper{
    display:inline-block;
    background-color:rosybrown;
    padding:2px;
    margin:5px;
    font-family: 'Poppins';
    font-weight: 500;
  }

#loadingImg {
    height:50vh;
    width:auto;
    margin-top:25vh;
}

.tile > button {
    width:250px;
}

.container{
    color:black;
}

#finalPage {
    margin-top:5vh;
    width: 80%;
    margin: auto;
}

#googleMap img{
    margin: 20px auto;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

/* might not actually need this... 
    mighta been needed because there was a src/href mixup */
.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    color:white;
}

@media screen and (max-width: 500px) {

    .appTitle{
      font-size:4.5em;
    }

    h2{
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 400px) {

    .appTitle{
      font-size:3.2em;
    }

    h2{
        font-size:1.5rem;
    }

}    
