/* these pages start out hidden */
#landingPage,#loadingPage,#sort-page,#restaurants,#finalPage{
    display:none;
}

.appTitle {
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 1px 1px 4px darkslategray;
    font-weight:500;
    font-size:5em;
}

section{
    margin-top:5vh;
}
/* width-mod might be able to go under section */
.width-mod{
    width: 91%;
}

body{
    font-family: 'Lato', sans-serif;
    text-align:center;
    width:100vw;
    min-height:100vh;
    max-height:100%;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.container{
    color:black;
}

.btn-group{
    margin: 5vh 0;
}

/* dropdown list border radius hack */
.no-border-radius{
    border-radius: 0rem;
}
.no-left-border-radius{
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}
.no-right-border-radius{
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.row .tile{
    margin: 5px auto;
}

.event-wrapper{
    display:inline-block;
    background-color:rosybrown;
    padding:2px;
    margin:5px;
    font-weight: 500;
  }

  .grid {
    background: transparent;
    max-width: 1200px;
    height:auto;
  }
  
  
  /* ---- .grid-item ---- */
  
  .grid-item {
    float: left;
    font-family: 'Lato', sans-serif;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
  }

#loadingImg {
    height:50vh;
    width:auto;
    margin-top:25vh;
}

#sort-options-wrapper-sm{
    display:none;
}

#sort-options-wrapper-rest-sm{
    display:none;
}

.sm-dropdown-width{
    width:100%;
    margin-top:4px;
}

.dropdown-wrap{
    display:inline;
}
.tile > button {
    width:250px;
}

#finalPage {
    width: 80%;
    margin: auto;
}

#googleMap img{
    margin: 20px auto;
}

#restTable {
    width: 80vw;
    height:auto;
    margin-left:10vw;
    margin-right:10vw;
}

/* might not actually need this... 
    mighta been needed because there was a src/href mixup */
.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    color:white;
}

@media screen and (max-width: 500px) {

    .appTitle{
      font-size:4.5em;
    }

    h2{
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 400px) {

    /* #sort-options-wrapper-lg{
        display:none;
    }

    #sort-options-wrapper-sm{
        display:block;
    }

    #sort-options-wrapper-rest-lg{
        display:none;
    }

    #sort-options-wrapper-rest-sm{
        display:block;
    } */


    .appTitle{
      font-size:3.2em;
    }

    h2{
        font-size:1.5rem;
    }

}    
